
@import url(//db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

@font-face {font-family: "clockicons"; src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot"); src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons") format("svg"); }

* {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
}

button {
    border: none;
}

#resetButton {
    display: none;
}

#lapButton {
    display: none;
}

#stopwatch {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 10% 25% 0%; */
    margin: 100px auto 0px;
    color: #F2D70C;
}

#buttons {
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 10px auto;
}

#timer {
    font-size: 30pt;
    font-family: clockicons;
}

#startStopButton {
    background-color: #3E9C08;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

#startStopButton:hover {
    cursor: pointer;
    background-color: #2f7407;
}

#lapButton {
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

#lapButton:hover{
    cursor: pointer;
    background-color: rgb(103, 103, 103);
}

#resetButton {
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

#resetButton:hover {
    cursor: pointer;
    background-color: rgb(103, 103, 103);
}

table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

thead {
    color: #F2D70C;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: none;
}

td {
    width: 120px;
    height: 30px;
    text-align: center;
}

#lapNumber {
    color: #F2D70C;
    font-family: clockicons;
    font-size: 15pt;
}

#lapTime , #totalLapTime {
    font-family: clockicons;
    font-size: 15pt;
    color: #F2D70C;
}

#currentLapNumber {
    color: #3E9C08;
    font-family: clockicons;
    font-size: 15pt;
}

#currentLapTime {
    font-family: clockicons;
    font-size: 15pt;
    color: #3E9C08;
}

#currentLapTotal {
    font-family: clockicons;
    font-size: 15pt;
    color: #3E9C08;
}
