
@import url(//db.onlinewebfonts.com/c/84cb021d5f9af287ffff84b61beef6dc?family=clockicons);

@font-face {font-family: "clockicons"; src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot"); src: url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.woff") format("woff"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/84cb021d5f9af287ffff84b61beef6dc.svg#clockicons") format("svg"); }

* {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
}

button {
    border: none;
}

#resetButton {
    display: none;
}

#lapButton {
    display: none;
}

#stopwatch {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10% 25% 0%;
    color: yellow;
}

#buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 2% 35% 2%;
}

#timer {
    font-size: 30pt;
    font-family: clockicons;
}

#startStopButton {
    background-color: green;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

#lapButton {
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

#resetButton {
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    color: white;
}

table {
    margin: auto;
    border-collapse: collapse;
}

thead {
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    /* border: 1px solid black; */
    padding: 10px 50px 5px 5px;
}




/* #currentlapsection {
    display: flex;
    margin: auto;
    justify-content: center;
}

#currentlapletter {
    color: green;
    font-family: sans-serif;
}

#currentlap {
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0% 5% 0%;
    font-size: 15pt;
    font-family: clockicons;

}

#lapsection {
    display: flex;
    margin: auto;
    justify-content: center;
    margin: 0% 5% 0%;
    color: white;
    flex-direction: row;

    
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15pt;
    font-family: clockicons;
}

#lapsname{
    color: white;
    font-family: sans-serif;
}

#laps {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0% 5% 0%;
    font-size: 15pt;
    font-family: clockicons;
}
 */